@model IEnumerable<MVCWithRepository.Models.Employee>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>This is my Employee Page</h2>
<p>
    @Html.ActionLink("Add Employee", "AddEmployee")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Raw("Name")
        </th>
        <th>
            @Html.Raw("Gender")
        </th>
        <th>
            @Html.Raw("Salary")
        </th>
        <th>
            @Html.Raw("Department")
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeptId)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditEmployee", new { EmployeeId = item.Id }) |
                @Html.ActionLink("Delete", "DeleteEmployee", new { EmployeeId = item.Id })
            </td>
        </tr>
    }
</table>
